HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=engmark
POSTGRES_PASSWORD=changeme
POSTGRES_DB=engmark
POSTGRES_TIMEOUT=10s

ADMIN_TOKEN=

HTTP_ALLOWED_ORIGINS=http://localhost:5173

VITE_API_BASE_URL=http://localhost:5050

LOGGER_LEVEL=info
TIME_ZONE=UTC