.env
.env.local
.env.*.local

bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

node_modules/
dist/
dist-ssr/
*.local

*.log
out/
coverage/
.cache/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp